{% extends "base.html" %}
{% block title %}Libros web - Inicio{% endblock %}
{% block body %}

<div>
    <div>
        <center>
            <img src="/static/images/libra_online_book_cbg.png" alt="Libra Online Library" height="100">
        </center>
    <center>
    <h1>Search by Author</h1>
    <form action="/search_by_author" method="post">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author">
        <input type="submit" value="Search">
    </form>
   
        {% for book in books_list %}
        <li><a href="/book/{{ book.id }}">{{ book.title }}</a> by {{ book.author }}</li>
        {% endfor %}
    </center>
{% endblock %}