{% extends "base.html" %}
{% block title %} {{ book.title }} {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container" style="display: flex; justify-content: center; align-items: center;">

    <div class="card" style="width: 18rem;">

        <img src="{{book.image_url}}" width="150">

        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Author: {{ book.author }}</h6>
            <h6 class="card-subtitle">Genre: {{ book.genre }}</h6>
        </div>
    </div>

</div>
{% endblock %}